<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>文豪のすゝめ</title>
        
        {% load static %}

        <link rel="stylesheet" href="stylesheet.css">
        <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
        <script src="static/brython.js"></script>
        <script src="static/brython_stdlib.js"></script>
    </head>

    <body onload="brython()">
        <script type="text/python" src="static/search.py"></script>
        <div class="header">
            <div class="header-logo">文豪のすゝめ</div>
        </div>
    
        <div class="contact-form">
            <h3 class="section-title">探したいワード</h3>
            <input type="text" id="word" />
            <input class="contact-submit" type="submit" value="送信" id="execute">
                <!-- <br><button id="execute">探す</button> -->

    <div id="result"></div>

   <a href="{% url 'polls:calc' %}">INQUIRY</a>

    </body>
</html>
<!-- {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %} -->