
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* .header {
  background-color: #9e3d3f;
  color: #fff;
  height: 90px;
} */

header {
  height: 90px;
  width: 100%;
  background-color: #9e3d3f;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 36px;
  height: 100px;
  color: #fff;
  font-family: "YuMincho";
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 40px 40px;
}

.header-left {
  float: left;
  padding: 20px 50px;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
  font-family: "YuMincho";
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 90px;
  padding: 0 25px;
  color: white;
  display: block;
}

.main {
  padding: 100px 80px;
}

.contents {
  height: 500px;
  margin-top: 100px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 20px;
  padding-left: 40px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.contents-item {
  float: left;
  margin-right: 40px;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

.contact-form {
  padding-top: 100px;
}

input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.result {
  width : 90vw;
  margin-top: 25px;
  margin-left: 30px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.contact-submit {
  background-color: rgba(158, 126, 127);
  color: white;
  transition: all 0.5s;
  width: 80px;
}

.contact-submit a {
  line-height: 90px;
  padding: 0 25px;
  display: block;
}

.contact-submit:hover {
  background-color: rgba(158, 126, 127, 0.5);
}

#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #993c3d;
  opacity: 0.6;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}


